<div class="capture_listing">
<p><%= link_to "Add a New Bug", new_sampling_capture_bug_url(@sampling.uuid, capture) %></p>

<% if capture.bugs.blank? %>

<p>No bugs found, yet. Find the reviewer, and have 
	him <%= link_to "add one", new_sampling_capture_bug_url(@sampling.uuid, capture)%>.</p>
	
<% else %>

<div>
	<p><strong>Bugs:</strong></p>
	<% capture.bugs.each do |bug| %>
	<div class="bug">Line <strong><span id="bug_line_number_<%= bug.id %>"><%= bug.line_number %></span></strong>:
		<div class="problem_code">
			<code>
				<div id="bug_problem_code_<%= bug.id %>"><%= bug.problem_code %></div>
			</code>
		</div>
		<%= bug_in_place_editor @sampling, capture, bug, :problem_code %>
	</div>
	
	<% end %>
</div>
<%= link_to "Add a New Bug", new_sampling_capture_bug_url(@sampling.uuid, capture) %></p>
<% end %>
</div>