<p><%= link_to 'Back to the Sampling', sampling_url(@sampling.uuid)%></p>
<h1><%= @capture.sampling.description %></h1>

<% if @capture.completed? %>
<p><strong>This code review was completed!</strong> Head <%= link_to 'back to the Sampling', sampling_url(@sampling.uuid) %>!</p>

<% end %>

<%= render :partial => @capture %>

<p><%= link_to 'Back to the Sampling', sampling_url(@sampling.uuid)%></p>